<!DOCTYPE html>
<html>
  <head>
    <title>LockIFManager</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
  </head>
  <body>
    <main>
      <div>
        <h1><%= project.name %></h1>
        <p><%= project.description %></p>
        <p>Criado em: <%= project.create_date.getDate() %>/<%= project.create_date.getMonth()+1 %>/<%= project.create_date.getFullYear() %></p>
        <div>
          <p class="bold">Coordenador</p>
          <a href="../user/<%=coordinator.cpf%>"><%=coordinator.name %></a>
        </div>  
        <div class="participants">
          <p class="bold">Participantes</p>
          <% userNames.forEach(function(user){%>
            <a href='../../user/<%=user.cpf%>'><%= user.name %></a>
            <a href="./userproject/remove">X</a>
          <%});%>
        </div>  
      </div>
      <div>
        <a href="<%= project._id%>/edit">Editar Projeto</a>
        <a href="">Remover Projeto</a>
      </div>
      <div class="modal hidden">
        <div>
          <p>Deseja Realmente deletar este projeto</p>
          <a href="<%= project._id%>/delete">Sim</a>
          <a href="">Não</a>
        </div>
      </div>
    </main>
  </body>
</html>