<!DOCTYPE html>
<html>
  <head>
    <title>Adicionar Usuário</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form class="forms" action="" method="post">
    <label for="">Nome do projeto</label>
    <input type="text" name="name" value="" />
    <label for="">Descrição</label>
    <textarea name="description" id="" cols="30" rows="10"></textarea>
    <label for="">Coordenador</label>
    <select name="coordinator" id="">
        <option value=""></option>
        <% user.forEach(function(u){ %>
          <option value="<%= u._id%>"><%= u.name%></option>
        <%});%>
      </select>
    <label for="">Participante</label>
    <a href="" id="add">+</a>
    <div id="divParticipants">
      <select name="participants" id="0">
        <option value=""></option>
        <% user.forEach(function(u){ %>
          <option value="<%= u._id%>"><%= u.name%></option>
        <%});%>
      </select>
      <select name="participants" id="1">
          <option value=""></option>
          <% user.forEach(function(u){ %>
            <option value="<%= u._id%>"><%= u.name%></option>
          <%});%>
        </select>
    </div>   
    <button>Adicionar Projeto</button>
  </form>
  </body>
  <script type='application/javascript'>
      const button = document.getElementById('add');
      button.addEventListener('click', function(){
        
        var select = document.createElement('select');
          var option = document.createElement('option');
          var users = user;
          option.value = "";
          option.text = "";
          select.appendChild(option);
          select.name = "participants";
          option.value = "Olá";
          for(var i=0;i<users.lenght;i++){
              option.value = users._id[i];
              option.text = users.name[i];
              select.appendChild(option);
          }  
          var div = document.getElementById('divParticipants');
          div.appendChild(select);
    })
  </script>
</html>