<!DOCTYPE html>
<html>
  <head>
    <title>LockIFManager</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
      <div>
        <h1><%= user.name %></h1>
        <p>CPF: <%= user.cpf %></p>
        <p>Data Nascimento: <%= user.birth_date.getDate() %>/ <%= user.birth_date.getMonth()+1 %>/ <%= user.birth_date.getFullYear() %></p>
      </div>

      <a href="<%= user.cpf%>/edit">Editar Usuário</a>
      <a href="">Remover usuário</a>
      <div class="modal hidden">
        <div>
          <p>Deseja Realmente deletar este usuário</p>
          <a href="<%= user.cpf%>/delete">Sim</a>
          <a href="">Não</a>
        </div>
      </div>
      <div>
        <p>Projetos que participa:</p>
        <%(user.projects).forEach(function(userProject){ %>
           <a href="../project/<%= userProject._id %>"><%= userProject.name %></a>
        <% }); %>       
      </div>
      <div>
        <% if(error != false){ %>
          <p>Necessário remover o usuário do projeto primeiro</p>
        <%}%>
      </div>
    </main>
  </body>
</html>