<% layout('boilerplate') -%>
<div class="main">
  <div class="cont-header">
      <span class="title">Usuários</span>
      <span class="routes">home>users</span>
  </div>

  <div class="content">
    <h2>Usuários cadastrados</h2>

    <div class="user-list">
      <% users.forEach(function(users) { %>
        <div class="user-table">
          <h3> <%= users.name %> </h3>
          <p>CPF: <%= users.cpf %></p>
          <p>Data de nascimento : <%= users.birth_date.getDate()+1%>/<%= users.birth_date.getMonth()+1 %>/<%=users.birth_date.getFullYear()%> </p>
          <a class="description" href="/user/<%= users.cpf %>">Mais detalhes</a>
        </div>
      <% }); %>
  </div>
</div>
</div> 