<!DOCTYPE html>
<html>
  <head>
    <title>Usuário</title>
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
  </head>
  <body>
      <header>
          <div class="logo">
            <a href="/"><h1>LockIF<span class="logo-detail">Manager</span></h1></a>
          </div>
          
          <div class="user">
            <div class="link-area-header">
              <div class="access-btn-header">
                <a href="/">Acessar</a>
              </div>
              <div class="green-bar-header"></div>
            </div>
    
            <div class="link-area-header">
              <div class="access-btn-header">
                <a href="/">Cadastrar-se</a>
              </div>
              <div class="green-bar-header"></div>
            </div>
          </div>
        </header>
    
        <main>
          <div class="menu">
            <h2></h2>
    
            <div class="links">
    
              <div class="link-area">
                <div class="access-header">
                  <img src="/img/project.png" alt="" width="24px" height="auto"/>
                  <h2>Projetos</h2> 
                </div>
              </div>
    
              <a href="/projects">
                <div class="link-area">
                  <div class="access-btn">
                    <img src="/img/project.png" alt="" width="20px" height="auto"/>
                    <p>Listar projetos</p> 
                  </div>
                  <div class="green-bar"></div>
                </div>
              </a>
    
              <a href="/project/add">
                <div class="link-area">
                  <div class="access-btn">
                    <img src="/img/add_project.png" alt="" width="20px" height="auto"/>
                    <p>Adicionar Projetos</p> 
                  </div>
                  <div class="green-bar"></div>
                </div>
              </a>
    
              <div class="link-area">
                  <div class="access-header">
                    <img src="/img/user.png" alt="" width="24px" height="auto"/>
                    <h2>Usuários</h2> 
                  </div>
                </div>
                  
              <a href="/users">
                <div class="link-area">
                  <div class="access-btn">
                    <img src="/img/user.png" alt="" width="20px" height="auto"/>
                    <p>Usuários</p> 
                  </div>
                  <div class="green-bar"></div>
                </div>
              </a>
    
              <a href="/user/add">
                <div class="link-area">
                  <div class="access-btn">
                    <img src="/img/add_user.png" alt="" width="20px" height="auto"/>
                    <p>Adicionar Usuários</p> 
                  </div>
                  <div class="green-bar"></div>
                </div>
              </a>
            </div>
            <div class="footer"> 
              <h4>Feito por Vinicius e Emanuel em Dourados MS</h4>
              <h3>GEDAE - LockIFManeger© 2019</h3>
            </div>
          </div>
    
            <div class="main">
              <div class="cont-header">
                <span class="title">Projetos</span>
                <span class="routes">home>users>user</span>
              </div>
    
              <div class="content">
                  <div>
                      <h2><%= user.name %></h2>
                      <p>CPF: <%= user.cpf %></p>
                      <p>Data Nascimento: <%= user.birth_date.getDate() %>/ <%= user.birth_date.getMonth()+1 %>/ <%= user.birth_date.getFullYear() %></p>
                    </div>
              
                    <a class="description" href="<%= user.cpf%>/edit">Editar Usuário</a>
                    <a class="description" href="">Remover usuário</a>
                    <div class="hidden-message">
                      <div>
                        <p>Deseja Realmente deletar este usuário</p>
                        <a class="description" href="<%= user.cpf%>/delete">Sim</a>
                        <a class="description" href="">Não</a>
                      </div>
                    </div>
    
              </div>
            </div>
        </main>
  </body>
</html>