<!DOCTYPE html>
<html>
  <head>
    <title>Adicionar Usuário</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
      <div>
        <h1><%= user.name %></h1>
        <p>CPF: <%= user.cpf %></p>
        <p>Data Nascimento: <%= user.birth_date %></p>
      </div>
      <a href="<%= user.cpf%>/edit">Editar Usuário</a>
      <a href="">Remover usuário</a>
      <div class="modal hidden">
        <div>
          <p>Deseja Realmente deletar este usuário</p>
          <a href="<%= user.cpf%>/delete">Sim</a>
          <a href="">Não</a>
        </div>
      </div>
    </main>
  </body>
</html>