<!DOCTYPE html>
<html>
  <head>
    <title>Adicionar Usuário</title>
    <link rel='stylesheet' href='/stylesheets/projects_style.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
  </head>
  <body>
    <header>

      <div class="navContainer">
        <nav class="headerNav">
          <img src="" alt=""/>
          <ul class="nav_bar">
    
            <div class="logo">
              <h1><a href="/"><span class="thinnerLogo">LockIF</span>Manager</a></h1>
            </div>
    
            <div class="home">
              <li class="nav_link"><a href="/">Home</a></li>
            </div>
    
            <div class="project">
              <li class="nav_link"><a>Projeto<a>
                  <ul class="dropdown">
                    <li class="dropdown-item"><a href="/project/add">Adicionar projeto</a></li>
                    <li class="dropdown-item"><a href="/projects">Listar projetos</a></li>        
                  </ul>
                </li>
              </div>
    
              <div class="user">
                <li class="nav_link"><a>Usuário </a>
                  <ul class="dropdown">
                    <li class="dropdown-item"><a href="/user/add">Adicionar usuário</a></li>
                    <li class="dropdown-item"><a href="/users">Listar usuário</a></li>
                  </ul>
                </li>
              </div>
    
            </ul>
          </nav>
        </div>
    
      </header>

    <main>

      <h2>Usuários cadastrados</h2>
      <div class="usersList">
          <% users.forEach(function(users) { %>

          <div class="userTable">
            <h3> <%= users.name %> </h3>
              CPF: <%= users.cpf %> - Data de nascimento : <%= users.birth_date.getDate()%>/<%= users.birth_date.getMonth()+1 %>/<%=users.birth_date.getFullYear()%> </p>
              <a class="description" href="/user/<%= users.cpf %>">Vizualizar o usuário</a>
          </div>

          <% }); %>

      </div>  
    </main>
  </body>
</html>