<% layout('boilerplate') -%>
<div class="main">
  <div class="cont-header">
    <h2>Pad Edit</h2>
  </div>
<div class="content">
    <form class="forms" action="./edit" method="post">
        <label for="name">Mac Adress</label>
        <input type="text" id="macAddress" name="macAddress" value="<%= pad.macAddress %>" disabled/>
        <label for="description">Nome</label>
        <input type="text" id="name" name="name" value="<%= pad.name %>"/>
        <label for="name">IP Wemos</label>
        <select name="wemos" id="wemosList">
          <option value="<%= %>"></option>
          <% wemos.forEach( (wemo) => { %>
            <option value="<%= wemo._id %>" <%= (wemo._id.equals(pad.wemos))?'selected':'' %>><%= wemo.IP %></option>
          <% }); %>
        </select>
        <div class="btn-area">
          <button class="add-btn">Editar Pad</button>
        </div>
    </form>
</div>
</div>