<% layout('boilerplate') -%>
<div class="main">
  <div class="cont-header">
    <h2 class="title"><%= project.name %></h2>
    <span class="routes">home>projects><%= project.name %></span>
  </div>

  <div class="content">
    <p><%= project.description %></p>
    <p class="date">Criado em: <%= project.create_date.getDate() %>/<%= project.create_date.getMonth()+1 %>/<%= project.create_date.getFullYear() %></p>
      
    <div>
      <h3>Coordenador</h3>
      <p><%= coordinator.name %></p>

      <h3>Participantes</h3>
      <% userNames.forEach(function(user){%>
        <a class="description" href="/user/<%= user.cpf %>"><%= user.name %></a>
      <%});%>
    </div>

    <div class="edit">
      <a class="description" href="<%= project._id%>/edit">Editar Projeto</a>
      <a class="description" onclick="modalSwap()">Remover Projeto</a>
    </div>
  </div>
</div>
<div id="modal" class="hidden">
  <div class="modal-delete">
    <p>Deseja realmente deletar este projeto?</p>
  
    <div class="btn-box">
        <a class="description" href="">Não</a>
        <a class="description" href="<%= project._id%>/delete">Sim</a>
    </div>
  </div>
</div>



