<% layout('boilerplate') -%>
  <form class="forms" action="." method="post">
    <label for="">Nome do projeto</label>
    <input type="text" name="name" value="<%= project.name%>" />
    <label for="">Description</label>
    <textarea name="description" id="" cols="30" rows="10"><%= project.description%></textarea>
    <label for="">Coordenador:</label>
    <div>
      <select name="coordinator" id="coordinator">
        <% allUsers.forEach(function(user){ %>
          <%if(user.id == coordinator.id) { %>
            <option value="<%= user._id%>"><%= user.name %></option>
          <%}%>
        <% }) %>
        <% allUsers.forEach(function(user){ %>
          <%if(user.name != coordinator.name) { %>
            <option value="<%= user._id%>"><%= user.name %></option>
          <%}%>
        <% }) %>
      </select>
    </div>
    <label for="">Integrantes</label>
    <div>
      <select id="participantsChoice" name="">
          <option></option>
            <% allUsers.forEach(function(user) { %>
              <option value="<%= user._id%>"><%= user.name %></option>
            <% }); %>
      </select>
      <a href="#" id="add">+</a>
    </div>
    <input type="hidden" name="participants" id="participants" value="<%= JSON.stringify(users_id) %>">
    <button>Editar Projeto</button>
  </form>
  <div id="addedParcipants">
    <% if(project != '') { %>
      <% Users.forEach(function(user) { %>
          <div id="<%= user._id %>">
            <p id="<%= user._id %>"> <%= user.name %> </p>
            <a id="<%= user._id %>" onclick="removeTask()" href="#">X</a>
          </div>
      <% }) %>
    <% } %>
  </div>

<script type='application/javascript'>
  const button = document.getElementById('add');
  var logica = true;
  button.addEventListener('click', function(e){
    e.preventDefault();

    var idUserSelected = document.getElementById('participantsChoice').value;
    var participants = JSON.parse(document.getElementById('participants').value);
    if(idUserSelected == ""){
      return;
    }

    for(let i = 0;i < participants.length;i++){
        if(idUserSelected == participants[i]){
            logica = false;
        }
}
    if(logica && document.getElementById('coordinator').value != idUserSelected){
        participants.push(idUserSelected);
        document.getElementById('participants').value = JSON.stringify(participants);
        var p = document.createElement('p');
        var userSelected = document.getElementById('participantsChoice').selectedOptions[0].innerHTML;
        p.innerHTML = userSelected;
        p.id = idUserSelected
        var a = document.createElement('a');
        a.id = idUserSelected;
        a.innerHTML = 'X'
        a.href = "#";
        a.onclick = removeUser;
        var divHTML = document.getElementById('addedParcipants');
        var div = document.createElement('div');
        div.id = idUserSelected;
        div.appendChild(p);
        div.appendChild(a);
        divHTML.appendChild(div);
        logica = true;
    }else {
        return logica = true
    }
});

function removeUser (e) {
    let event = e || window.event;
    var participants = JSON.parse(document.getElementById('participants').value);
    var positionUser;
    var divChildren = document.getElementById('addedParcipants').children;
    var userId = event.target.id;
    for(let i = 0;i < divChildren.length;i++ ){
        if(userId == divChildren[i].id){
          participants.splice(i,1);
          document.getElementById(`${userId}`).remove();
        }
    }
    document.getElementById('participants').value = JSON.stringify(participants);
    for(let i = 0;i < participants.length;i++){
        if(userId == participants[i]){
          positionUser = [i];
        }
    }
}
</script>