<% layout('boilerplate') -%>
<div class="main">
  <div class="cont-header">
    <h2 class="title"><%= user.name %></h2>
    <span class="routes">home>projects><%= user.name %></span>
  </div>

  <div class="content">
    <p class="date">CPF: <%= user.cpf %></p>
    <p class="date">Data Nascimento: <%= user.birth_date.getDate()+1 %>/ <%= user.birth_date.getMonth()+1 %>/ <%= user.birth_date.getFullYear() %></p>
    <div>
      <h3>Projetos que participa:</h3>
        <%(user.projects).forEach((project) => { %>
          <a class="description" href="/project/<%= project._id  %>"><%= project.name %></a>
        <% }) %>
        <div class="edit">
          <a class="description" href="<%= user.cpf%>/edit">Editar Usuário</a>
          <a class="description" onclick="modalSwap()">Remover Usuário</a>
        </div>
    </div>
</div>
<div id="modal" class="hidden">
  <div class="modal-delete">
    <p>Deseja realmente deletar este usuário?</p>
  
    <div class="btn-box">
        <a class="description" href="">Não</a>
        <a class="description" href="<%= user.cpf%>/delete">Sim</a>
    </div>
  </div>
</div>



