<% layout('boilerplate') -%>
<div class="main">
  <div class="cont-header">
    <h2>Wemos cadastrados</h2>
  </div>
  <div class="wemosList content">
      <% wemos.forEach(function(wemos) { %>
      <div class="wemosTable">
        <h3> <%= wemos.IP %> </h3>
        <h4>Descrição do projeto:</h4>
        <p><%= wemos.description %></p>
        <a class="description" href="/wemos/<%= wemos._id%>">Vizualizar o Wemos</a>
        <a class="description" href="/wemos/<%= wemos._id%>/disable">Desativar o Wemos</a>
        <a class="description" href="/wemos/<%= wemos._id%>/test">Testar o Wemos</a>
      </div>
      <% }); %>
  </div>  
</div>